/* tailwind-sidebar package override styles */
[data-slot='collapsible'] [data-slot='sidebar-menu-item'] [data-slot='sidebar-menu-button']:hover {
  background-color: transparent !important;
}

[data-slot='badge'] {
  font-size: x-small;
}

[data-slot='collapsible'] [data-state="open"] button:hover,
[data-slot='collapsible'] button:hover {
  background-color: var(--color-lightprimary) !important;
  color: var(--color-primary) !important;
}

[data-slot='collapsible'] [data-state="open"] button {
  background-color: var(--color-lightprimary) !important;
  color: var(--color-primary) !important;
}

[data-state="open"] button {
  background-color: var(--color-lightprimary) !important;
  color: var(--color-primary) !important;
}

[data-slot="sidebar-menu-button"] .side_sub:hover {
  color: var(--color-primary) !important;
}